<div class="container">
  <h2>商品一覧</h2>
  <div class="row">

    <% @items.each do |item| %>
      <div class="card" style="width:200px;">
        <%= attachment_image_tag(item, :image) %>
        <%= item.name %>
        ￥<%= item.tax_included_price %>
        <%= link_to "詳細を見る", public_item_path(item), class: 'btn btn-success' %>
      </div>
    <% end %>

  </div>
</div>
